<ion-view title="Consultar Servicio">
    
    <ion-content padding="'true'" class="has-header">
        <form class="list" ng-controller="PagosCtrl">
          
            <ion-item class="item-divider">AyA</ion-item>
            <div class="secC">
            <div class="span3" id=""><strong>Número de servicio:</strong> </div>
            <div class="span3" id="">
                <label class="item item-input">
                    <input name="numeroC" ng-model='numeroC' type="number" mask="99999999" placeholder="Digite el numero a consultar">
                </label>
            </div>
            
            </div>
            <button ng-click="consultaPubAYA()" ng-model="ayaConsultaB" id="ayaConsultaB" name="ayaConsultaB" class="button button-stable button-block ">Consultar</button>
			<!--<a href="#/side-menu22/page18" class="button button-stable button-block ">Cancelar</a>-->
        </form>

    </ion-content>
</ion-view>