<ion-view title="Información">
    <ion-content padding="'true'" class="has-header" >
        <form class="list"  ng-controller="informacioNCtrl" >
            <ion-list>
                <ion-item class="item-divider">Datos de Cliente</ion-item>
            </ion-list>
            <div> 
                
  				<h2 class="secB">Información:</h2>
  				<!--<blockquote></blockquote>-->
  				</div>
  				<div class="secC">
  				    
     <div class="span3 rojo">{{cuMaestra}}</div>
     <div class="span3"><strong>Cédula:</strong>{{idUsuario}}</div>
     <div class="span3"><strong>Saldo Actual: ₡</strong>{{saldoInfo}}</div>
     <div  class="span3"><strong>Saldo Bloqueado: ₡</strong>0</div>
     <div class="span3"><strong>Cliente: </strong></strong>{{user}} &nbsp {{nom1}} &nbsp {{nom2}}</div>
     <!--<div class="span3"><strong>Apellido 1:</strong>{{nom1}}</div>-->
     <!--<div class="span3"><strong>Apellido 2:</strong></strong>{{nom2}}</div>-->
     <!--<div class="span3"><strong>Tipo ID:</strong></strong>{{idtipo}}</div>-->
     <!--<div class="span3"><strong># Cliente:</strong></strong>{{idcliente}}</div>-->
     <!--<div class="span3"><strong>Nacinalidad:</strong></strong>{{nac}}</div>-->
     <!--<div class="span3"><strong>Fecha Nacimiento:</strong></strong>{{fecha}}</div>-->
     <!--<div class="span3"><strong>Ubicacion:</strong></strong>{{distrito}}</div>-->
     <!--<div class="span3"><strong>Direccion:</strong></strong>{{direc}}</div>-->
     <!--consulta-->
    </div>
        </form>
        
     </ion-content>
</ion-view>
        