<ion-view title="Pagos y Servicios">
    
    <ion-content padding="'true'" class="has-header">
        <form class="list" >
          <ion-list>
            <ion-item class="item-divider">Servicios</ion-item>
            <ion-item class="item item-icon-left" href="#/side-menu22/page12" menu-close="" >
               <!-- <a class="item item-icon-left" href="#/side-menu22/page12">-->
                    <i class="icon ion-waterdrop"></i>
                           &nbsp&nbspAYA 
                </a>
            </ion-item>
            <ion-item class="item item-icon-left" href="#/side-menu22/page14"  menu-close="" >
                <!--<a class="item item-icon-left" href="#/side-menu22/page14">-->
                    <i class="icon ion-flash"></i>
                        &nbsp&nbspICE Eléctrico
                </a>
            </ion-item>
            <ion-item class="item item-icon-left" href="#/side-menu22/page15" menu-close="" >
               <!-- <a class="item item-icon-left" href="#/side-menu22/page15">-->
                    <i class="icon ion-flash"></i>
                        &nbsp&nbspCNFL
                </a>
            </ion-item>
            <ion-item  class="item item-icon-left" href="#/side-menu22/page16" menu-close="" >
               <!-- <a class="item item-icon-left" href="#/side-menu22/page16">-->
                    <i class="icon  ion-ios-telephone"></i>
                        &nbsp&nbspICE telefónico
                </a>
            </ion-item>
            <ion-item class="item item-icon-left" href="#/side-menu22/page19" menu-close="" >
                <!--<a class="item item-icon-left" href="#/side-menu22/page19">-->
                    <i class="icon  ion-android-phone-portrait"></i>
                        &nbsp&nbspClaro recarga
                </a>
            </ion-item>
            <ion-item class="item item-icon-left" href="#/side-menu22/page20" menu-close="" >
                <!--<a class="item item-icon-left" href="#/side-menu22/page20">-->
                    <i class="icon  ion-android-phone-portrait"></i>
                        &nbsp&nbspMovistar recarga
                </a>
            </ion-item>
            <ion-item  class="item item-icon-left" href="#/side-menu22/page21" menu-close="" >
                <!-- <a class="item item-icon-left" href="#/side-menu22/page21">-->
                    <i class="icon  ion-android-phone-portrait"></i>
                        &nbsp&nbspKolbi recarga
                </a>
            </ion-item>
            
            
         <!--  <div class="list">
             
                <a class="item item-icon-left" href="#/side-menu22/page12">
                    <i class="icon ion-waterdrop"></i>
                        &nbsp&nbspAYA
                </a>
                <a class="item item-icon-left" href="#/side-menu22/page14">
                    <i class="icon ion-flash"></i>
                        &nbsp&nbspICE Eléctrico
                </a>
                <a class="item item-icon-left" href="#/side-menu22/page15">
                    <i class="icon ion-flash"></i>
                        &nbsp&nbspCNFL
                </a>
                <a class="item item-icon-left" href="#/side-menu22/page19">
                    <i class="icon  ion-android-phone-portrait"></i>
                        &nbsp&nbspClaro recarga
                </a>
                <a class="item item-icon-left" href="#/side-menu22/page20">
                    <i class="icon  ion-android-phone-portrait"></i>
                        &nbsp&nbspMovistar recarga
                </a>
                <a class="item item-icon-left" href="#/side-menu22/page21">
                    <i class="icon  ion-android-phone-portrait"></i>
                        &nbsp&nbspKolbi recarga
                </a>
                <a class="item item-icon-left" href="#/side-menu22/page16">
                    <i class="icon  ion-ios-telephone"></i>
                        &nbsp&nbspICE telefónico
                </a>
            </div>
   <!--         <button ng-click="transac2()" class="button button-stable button-block ">Confirmar</button>-->
			<!--<a href="#/side-menu22/page18" class="button button-stable button-block ">Cancelar</a>-->
        </ion-list>
        </form>

    </ion-content>
</ion-view>